.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* header section */
.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  max-width: 730px;
  align-self: center;
  z-index: 5;
  margin-top: 0;
  margin-bottom: 0;
}

.header__subtitle {
  z-index: 5;
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__square {
  position: absolute;
  margin-top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* two-column section */

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

/* digit section */

.digits {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  width: 60%;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 33.33px;
  row-gap: 60px;
  flex: 0 0 25%;
  list-style: none;
  margin-bottom: 100px;
  margin-top: 60px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  overflow-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
}

/* feynman section */

.feynman {
  position: relative;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  min-height: 790px;
  background-color: #f2f2f2;
  background-position-x: left;
  background-position-y: bottom;
  margin-bottom: 100px;
}

.feynman__title {
  text-align: center;
  margin: 0 auto;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  width: 775px;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}

.feynman__link {
  align-self: center;
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

/* kaufman section */

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
}

.section-title_theme_dark {
  z-index: 4;
  position: relative;
}

.section-subtitle_theme_dark {
  z-index: 4;
  position: relative;
}

.table_theme_dark {
  column-gap: 25px;
  row-gap: 80px;
  flex: 0 0 20%;
  margin-bottom: 90px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 4;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
}

/* footer section */
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  margin-left: 0;
}

.logo_place_footer {
  position: relative;
  width: 183px;
  height: 35px;
  display: block;
}

.footer__autor {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  color: white;
  font-weight: normal;
}

.footer__column_content_about {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-start;
  width: auto;
}

.footer__column_content_social {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  justify-content: flex-start;
  width: auto;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
}

.footer__column_content_social > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  display: inline;
}
